
// Functional Color Variables

$background-primary: lighten(rgb(112, 37, 245), 13%);
$background-secondary: lighten(rgb(201, 5, 229), 13%);
$background-center: lighten(rgb(215, 9, 9), 13%);
$background-center-light: lighten(rgb(215, 9, 9), 25%);

$image-border: rgb(156, 126, 126);

$audio-background: rgb(204, 34, 34);

$link: rgb(212, 211, 224);
$link-background: rgb(112, 37, 245);


//Descriptive Color Variables

$white: #fff;
$black: #000;


// Functional Gradient Variables

$background-center-strong: radial-gradient( circle, $background-center, $background-secondary, transparent 180% );
$background-center-mild: radial-gradient( circle, $background-center, $background-secondary, transparent 110% );
$background-center-hot: radial-gradient( circle, $background-center, $background-primary, transparent 75% );
$background-center-warm: radial-gradient( circle, $background-center-light, $background-primary, transparent 95% );


// Functional Layout Variables

$center: center;
$cover-width: 15rem;
$mid-breakpoint: 768px;